.banner {
    background-color: #0065ff;
}

.content {
    padding: 2% 10%;
    color: aliceblue;
}
.content p span {
    font-size: 17px;
}

.contactWrapper {
    display: flex;
    justify-content: space-between;
}

.contactWrapper .cta-login {
    background: #fff;
    color: #172b4d;
    width: 70%;
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 30px;
    box-shadow: 0 6px 16px rgba(52, 105, 203, .16);
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0 30px;
}

.contactWrapper .cta-needhelp {
    width: 29%;
    background: #fff;
    color: #172b4d;
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px 18px;
    box-shadow: 0 6px 16px rgba(52, 105, 203, .16);
}

@media(max-width:952px) {
    .contactWrapper {
        display: block;
    }

    .contactWrapper .cta-login {
        background: #fff;
        color: #172b4d;
        width: 100%;
        border-radius: 10px;
        margin-top: 50px;
        margin-right: 30px;
        box-shadow: 0 6px 16px rgba(52, 105, 203, .16);
        display: flex;
        flex-wrap: nowrap;
        padding: 10px 0 30px;
    }


    .contactWrapper .cta-needhelp {
        width: 100%;
        margin-left:0;
        background: #fff;
        color: #172b4d;
        border-radius: 10px;
        margin-top: 50px;
        padding: 10px 18px;
        box-shadow: 0 6px 16px rgba(52, 105, 203, .16);
    }
}

.new_contact_wrapper .banner .content .cta-login .banner-img {
    height: inherit;
    float: left;
    margin-right: 35px;
    margin-left: 25px;
}

.new_contact_wrapper .banner .content .cta-login .banner-img img.desktop {
    margin-top: 10px;
    margin-left: 20px;
    display: block;
}

.new_contact_wrapper .banner .content .cta-login .list-wrapper {
    float: left;
    margin: 0 10px;
}

.new_contact_wrapper .banner .content .cta-login h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
    color: #172b4d;
}

.new_contact_wrapper .banner .content .cta-login .list-wrapper .type-stars li {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    color: #172b4d;
    margin-right: 10px;
    width: 175px;
    padding-left: 20px;
    position: relative;
    margin: 10px 0;
    font-weight: 500;
    white-space: nowrap;
}
@media(max-width:584px){

    .new_contact_wrapper .banner .content .cta-login .banner-img {
        margin: 0;
    }
    .new_contact_wrapper .banner .content .cta-login .banner-img img.desktop {
        display: none;
    }
    .new_contact_wrapper .banner .content .cta-login .list-wrapper {
        margin: 0 10px;
    }

}
@media(min-width: 1200px) {
    .new_contact_wrapper .banner .content .cta-login .list-wrapper .type-stars li {
        width: 260px;
    }
}

.new_contact_wrapper .banner .content .cta-login .list-wrapper .type-stars li::before {
    position: absolute;
    content: "";
    display: block;
    height: 12.5px;
    width: 12.52px;
    left: 0;
    top: 50%;
    background: transparent url(https://static.pbcdn.in/cdn/images/star.svg ) center center no-repeat;
    transform: translate(0, -50%);
}

.new_contact_wrapper .banner .content .cta-login .list-wrapper .type-stars {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0;
    float: left;
    max-width: 565px;
}

@media (min-width: 1200px) {
    .new_contact_wrapper .banner .content .cta-login .list-wrapper .type-stars {
        max-width: 640px;
    }
}

.new_contact_wrapper .banner .content .cta-login .login-btn {
    float: left;
    height: inherit;
    width: 230px;
    margin-right: 36px;
}

.new_contact_wrapper .banner .content .cta-login h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 18px;
    color: #172b4d;
}

.new_contact_wrapper .banner .content .cta-login h3 .lead-text {
    font-size: 16px;
    font-weight: 400;
    color: #172b4d;
    margin-left: 8px;
    display: block;
    margin: 10px 0;
}

.new_contact_wrapper .banner .content .cta-login .login-btn a {
    max-width: 190px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: #0065ff;
    display: block;
    padding: 15px 0;
    border-radius: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: none;
}

.new_contact_wrapper .banner .content .cta-needhelp h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
    color: #172b4d;
}

.new_contact_wrapper .banner .content .cta-needhelp h3 .lead-text {
    font-size: 16px;
    font-weight: 400;
    color: #172b4d;
    margin-left: 8px;
    display: block;
    margin: 10px 0;
}

.new_contact_wrapper .banner .content .cta-needhelp .text {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 26px 20px 26px 60px;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    display: block;
    cursor: pointer;
}

.new_contact_wrapper .banner .content .cta-needhelp .text .icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
}
.office_address {
    margin: 50px 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #505F79;
}
.alladdress{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.format{
    width:49%;
    border-radius: 8px;
    padding-bottom: 40px;
    border-radius: 0;
}
.add6{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.title{
    color: black;
    font-size: 25px;
    padding-bottom: 10px;
}
.subtext{
    font-size: 20px;
    padding-bottom: 50px;
}
.add_title{
    margin-bottom:10px ;
    font-size: 23px;
    font-weight: 500;
    color: black;
}
@media(max-width:584px){

    .format{
        width: 100%;
    }

}
